<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/indexScripts.js"></script>
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/admin.css">

</head>

<body>

</body>


<script>
 async function setup() {
    await setAdminEditor();
    $.getScript("/javascripts/material.js");
 }
  setup();  

   //ensure updates are shown on back click
   if(performance.navigation.type == 2){
   location.reload(true);
    }
</script>

</html>