<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit position </title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/indexScripts.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <div class="row">
        <div class="col-12 position">
            
        </div>
    </div>
</body>






<script>
    const bedNumber = "<%= bedNumber %>";
    const posX = "<%= posX %>";
    const posY =  "<%= posY %>";

    setEditPosition(bedNumber,posX,posY);


</script>
</html>