<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/indexScripts.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-blue.min.css" /> 
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    

</head>

<body>
    <div class="row owner-row">
        <div class="col-4 owner"></div>
        <div class="col-4 bed-number"></div>
        <div class="col-4 login"><a href="/login">Login:</a></div>
    </div>
    <div class="row information-row">
        <div class="col-4">
            <div class="title">
                <h2 class="title-text">Notifications</h2>
                
              </div>
              <div class="notifications support-text">
                  
              </div>
        </div>
        <div class="col-4">
            <div class="title">
                <h2 class="title-text">Notes</h2>
               
              </div>
              <div class="notes support-text">
              </div>
        </div>
        <div class="col-4">
            <div class="title">
                <h2 class="title-text">Soil Log</h2>
                
              </div>
              <div class="soil-log support-text">
              </div>
        </div>
    </div>
    <div class="row rowpadding row1"></div>
</body>


<script>

    const bedNumber = "<%= bedNumber %>";
    console.log("name: " + name);
    $('.bed-number').text("Bed #" + bedNumber);
    setOwner(bedNumber);
    generatePositions(bedNumber);
    setNotifications(bedNumber);
    setNotes(bedNumber);
    setSoilLog(bedNumber);
    //ensure updates are shown on back click
    if(performance.navigation.type == 2){
        location.reload(true);
    }
    
</script>

</html>