<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bed Editor</title>
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/javascripts/indexScripts.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/style.css">
    

</head>

<body role="main">
    <div class="row owner-row">
        <div class="col-4 owner"></div>
        <div class="col-4 bed-number"></div>
        
    </div>
    <div class="row information-row" >
        <div class="col-4" aria-labelledby="notifications">
            <div class="title">
                <h2 class="title-text">Notifications</h2>
                
              </div>
              <div id="notifications" class="notifications support-text">
                  
              </div>
        </div>
        <div class="col-4" aria-labelledby="notes">
            <div class="title">
                <h2 class="title-text">Notes</h2>
               
              </div>
              <div id="notes" class="notes support-text">
              </div>
        </div>
        <div class="col-4" aria-labelledby="soil-log">
            <div class="title">
                <h2 class="title-text">Soil Log</h2>
                
              </div>
              <div id="soil-log" class="soil-log support-text">
              </div>
        </div>
    </div>
    <div class="row rowpadding row1"></div>
</body>


<script>

    const bedNumber = "<%= bedNumber %>";

    $('.bed-number').text("Bed #" + bedNumber);
    setOwner(bedNumber);
    generatePositions(bedNumber);
    setNotifications(bedNumber);
    setNotes(bedNumber);
    setSoilLog(bedNumber);
    //ensure updates are shown on back click
    if(performance.navigation.type == 2){
        location.reload(true);
    }
    
</script>

</html>