doctype html
html(lang='en')
  head
  title PugTest
  script(type="module" src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(type="module" src='/javascripts/indexScripts.js')
  link(href='/stylesheets/bed.css', rel='stylesheet')
body
  div.row.rowpadding.row1
  =testvar