doctype html
html(lang='en')
  head
  title PugTest
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  script.
    $.fn.poshytip={defaults:null}
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js")
  script.
    $.fn.editable.defaults.mode = 'inline';
  script(src='/javascripts/positionScripts.js')
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css")
  link(href='/stylesheets/bed.css', rel='stylesheet')
  
- const {startDate, occupied, plantType } = JSON.parse(bedPosition);
- const {commonName, daysToHarvest } = plantType;
block content
  .row
    .col-12.plant-position 
      .h3 Start Date: 
      .info #{startDate}
      .h3 Occupied: 
      .info#occupied #{occupied}
      .h3 Common Name:
      .info #{commonName}
      .h3 Days to Havest:
      .info #{daysToHarvest}