* {
    box-sizing: border-box;
  }
  

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  
  body {
    
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a, h1 {
    color: #00B7FF;
  }



.flex-container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
.flex-container>li {
    margin: 5px;
    border: 1px solid black;
}

.flex-container-horizontal {
    display: flex;
    background-color: lightyellow;
}
.plant-position {
    

    margin: 2px;
    background-color: aquamarine;
}



/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  /* Clearfix */
  .row::before,
  .row::after {
    display: table;
    content: "";
  }
  .row::after {
    clear: both;
  }
  .col-2point4,
  .col-3,
  .col-4,
  .col-6,
  .col-12 {
    float: left;
    /* Gutters:
     * Each column is padded by half-a-gutter on each side,
     *
     * Half a gutter is 10px, 10/960 (context) = 1.041666%
     *
     */
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  /* Mobile defaults */
  .col-2point4,
  .col-3,
  .col-4,
  .col-6,
  .col-12 {
    width: 100%;
  }
  /* Non-mobile, grid */
  @media only screen and (min-width: 800px) {
    /* 3 columns, 3/12 in % */
    .col-2point4 {
      width: 19%;
    }
    .col-3 {
      width: 25%;
    }
    /* 4 columns */
    .col-4 {
      width: 33.33%;
    }
    /* 6 columns */
    .col-6 {
      width: 50%;
    }
    /* 12 columns */
    .col-12 {
      width: 100%;
    }
  }
  /*******************/
  /* END GRID SYSTEM */
  /*******************/
  