

html, body {margin:0;padding:0;overflow:hidden;background-color: grey;}
svg { position:fixed; top:0; left:0; height:100%; width:100% }
.welcome {
    text-align:  center;
    font-size: 70px;
    /* z-index: 100; */
    background-color: lightblue;
    color: yellow;
}
.blankrow {
  height: 60px;
  background: blue;
  /* position: absolute; */
  /* bottom: -12px; */
  /* left: 0; */
}





.hover {
  border: 2px solid red;
}



/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  /* Clearfix */
  .row::before,
  .row::after {
    display: table;
    content: "";
  }
  .row::after {
    clear: both;
  }
  .col-2point4,
  .col-3,
  .col-4,
  .col-6,
  .col-12 {
    float: left;
    /* Gutters:
     * Each column is padded by half-a-gutter on each side,
     *
     * Half a gutter is 10px, 10/960 (context) = 1.041666%
     *
     */
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  /* Mobile defaults */
  .col-2point4,
  .col-3,
  .col-4,
  .col-6,
  .col-12 {
    width: 100%;
  }
  /* Non-mobile, grid */
  @media only screen and (min-width: 800px) {
    /* 3 columns, 3/12 in % */
    .col-2point4 {
      width: 19%;
    }
    .col-3 {
      width: 25%;
    }
    /* 4 columns */
    .col-4 {
      width: 33.33%;
    }
    /* 6 columns */
    .col-6 {
      width: 50%;
    }
    /* 12 columns */
    .col-12 {
      width: 100%;
    }
  }
  /*******************/
  /* END GRID SYSTEM */
  /*******************/
  