* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  background: url('/images/garden_north_corner_transparent.svg');
  background-repeat: no-repeat;
  /* opacity: .4; */
  background-color:  #97B0D7;
  background-size: cover;
}

a {
  color: #00B7FF;
}



/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
  max-width: 1000px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: 0 auto;
  /* height: 61px; */
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::after {
  clear: both;
}
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  /* padding-left: 1.04166666%; */
  /* padding-right: 1.04166666%; */
}
/* Mobile defaults */
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

/* small-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-2point4 {
    width: 19.5%;
    height: 90px;
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}


/* Non-mobile, grid */
@media only screen and (min-width: 1000px) {
  /* 3 columns, 3/12 in % */
  .col-2point4 {
    width: 9.79%;
    height: 90px;
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
/*******************/
/* END GRID SYSTEM */
/*******************/










.plant-position {
  /* text-align: center; */
  /* height: 100px; */
  background-color: lightgreen;
  border: 1px solid black;
  margin: 1px;
}
.occupied {
  background: url('/images/leaf.png');
  background-repeat: no-repeat;
  /* opacity: .4; */
  background-size: 40%;
  background-position: 50px 45px;
  background-color: lightgreen;
}
[class*="bedNumber"] {
  height: auto;
  text-align:  center;
}

.nav {
  background: white;
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
 
}
.nav a {
  text-decoration: none;
}
.owner-row {
  /* height: 40px; */
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 10%;
  text-align: center;
  font-size: 39px;
}
.information-row {
  background-color: white;
  /* padding: 25px; */
  font-size: 28px;
}


.notifications {
  background-color: lightskyblue;
  min-height: 69px;
  padding: 6px;
}
.notes {
  background-color: lightgray;
  min-height: 69px;
  padding: 6px;
}
.notes-message {
  border-bottom: 1px solid black;
}
.notification-message {
  border-bottom: 1px solid black;
}
.soil-log {background-color:  #00B7FF;min-height:  69px;padding:  6px;}

.unoccupied {
  background-color: #615443;
  color:wheat;
}
.support-text {
  font-family: 'Alegreya Sans', sans-serif;
  /* text-shadow: 0 0 black; */
  font-size: 16px;
}
.demo-card-square.mdl-card {
  /* width: 158px; */
  /* height: 105px; */
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: green;
}
.hover {
  opacity: .6;
}
.row1 {
  background-color: #615443;
  /* padding: 25px; */
  max-width: 1000px;
  /* min-width: 545px; */
}

.rowpadding {
  padding-top: 5px;
  /* margin-left: 20px; */
}
/*********************/
/* START GRID SYSTEM */
/*********************/

.row {
  /* max-width: 1000px; */
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: 0 auto;
  /* height: 61px; */
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}
.row::after {
  clear: both;
}
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  float: left;
  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  /* padding-left: 1.04166666%; */
  /* padding-right: 1.04166666%; */
}
/* Mobile defaults */
.col-2point4,
.col-3,
.col-4,
.col-6,
.col-12 {
  width: 100%;
}

/* small-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-2point4 {
    width: 19.5%;
    height: 90px;
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}


/* Non-mobile, grid */
@media only screen and (min-width: 1000px) {
  /* 3 columns, 3/12 in % */
  .col-2point4 {
    width: 9.79%;
    /* height: 90px; */
  }
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }
  /* 6 columns */
  .col-6 {
    width: 50%;
  }
  /* 12 columns */
  .col-12 {
    width: 100%;
  }
}
/*******************/
/* END GRID SYSTEM */
/*******************/
